<h1>Orders List</h1>
<h2>Demo!</h2>

<mat-spinner class="spinner" mode="indeterminate" *ngIf="loading"></mat-spinner>

<form [formGroup]="form" (change)="changePageSize()">
  <span>Page size: </span>
  <select [(ngModel)]="response.pageSize" formControlName="pageSize">
    <option [ngValue]="10">10</option>
    <option [ngValue]="25">25</option>
    <option [ngValue]="50">50</option>
    <option [ngValue]="100">100</option>
  </select>
</form>

<input >

<br />

<div>
  <button mat-icon-button [disabled]="isPreviousDisabled" (click)="previous()">
    <mat-icon aria-label="Previous">skip_previous</mat-icon>
  </button>
  <span> {{ response?.message }} </span>
  <button mat-icon-button [disabled]="isNextDisabled" (click)="next()">
    <mat-icon aria-label="Next">skip_next</mat-icon>
  </button>
</div>

<br />

<table mat-table [dataSource]="response?.model">
  <ng-container matColumnDef="orderID">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.orderID }}</td>
  </ng-container>

  <ng-container matColumnDef="orderStatusDescription">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element">{{ element.orderStatusDescription }}</td>
  </ng-container>

  <ng-container matColumnDef="orderDate">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">{{ element.orderDate | date: 'short' }}</td>
  </ng-container>

  <ng-container matColumnDef="customerCompanyName">
    <th mat-header-cell *matHeaderCellDef>Customer</th>
    <td mat-cell *matCellDef="let element">{{ element.customerCompanyName }}</td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>Total</th>
    <td mat-cell *matCellDef="let element">{{ element.total }}</td>
  </ng-container>

  <ng-container matColumnDef="detailsCount">
    <th mat-header-cell *matHeaderCellDef>Details</th>
    <td mat-cell *matCellDef="let element">{{ element.detailsCount }}</td>
  </ng-container>
  
  <ng-container matColumnDef="referenceOrderID">
    <th mat-header-cell *matHeaderCellDef>Reference Order</th>
    <td mat-cell *matCellDef="let element">{{ element.referenceOrderID }}</td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="columnsForOrders"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsForOrders;" class="element-row"></tr>
</table>

<br />

<div>
  <button mat-icon-button [disabled]="isPreviousDisabled" (click)="previous()">
    <mat-icon aria-label="Previous">skip_previous</mat-icon>
  </button>
  <span> {{ response?.message }} </span>
  <button mat-icon-button [disabled]="isNextDisabled" (click)="next()">
    <mat-icon aria-label="Next">skip_next</mat-icon>
  </button>
</div>
