nav a {
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

nav a:visited, a:link {
    color: #607d8b;
}

nav a:hover {
    color: #039be5;
    background-color: #cfd8dc;
}

nav a.active {
    color: #039be5;
}
