@page "/card"

@using RothschildHouse.Library.Common.Clients;
@using RothschildHouse.Library.Common.Clients.Models.Common;
@using RothschildHouse.Library.Common.Clients.Models.PaymentGateway;

@inject PaymentGatewayClient rothschildHouseClient

<PageTitle>Cards</PageTitle>

<h1>Cards</h1>

@if (response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudDataGrid Items="@response.Model">
        <Columns>
            <PropertyColumn Property="x => x.CardType" Title="Card Type" />
            <PropertyColumn Property="x => x.IssuingNetwork" Title="Issuing Network" />
            <PropertyColumn Property="x => x.CardholderName" Title="Cardholder Name" />
            <PropertyColumn Property="x => x.Last4Digits" Title="Last 4 Digits" />
            <PropertyColumn Property="x => x.ExpirationDate" Title="Expiration Date" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        <MudLink Href="@($"/card/{context.Item.Id}")">Details</MudLink>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}

@code {
    private ListResponse<CardItemModel> response;

    protected override async Task OnInitializedAsync()
    {
        response = await rothschildHouseClient.GetCardsAsync(new GetCardsRequest());
    }
}
