@page "/currency"

@using RothschildHouse.GUI.PaymentGateway.Clients;
@using RothschildHouse.GUI.PaymentGateway.Clients.Models;
@using RothschildHouse.GUI.PaymentGateway.Clients.Models.Common;

@inject RothschildHouseClient rothschildHouseClient

<PageTitle>Currencies</PageTitle>

<h1>Currencies</h1>

@if (response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudDataGrid Items="@response.Model">
        <Columns>
            <PropertyColumn Property="x => x.Name" Title="Name" />
            <PropertyColumn Property="x => x.Code" Title="Code" />
        </Columns>
    </MudDataGrid>
}

@code {
    private ListResponse<CurrencyItemModel> response;

    protected override async Task OnInitializedAsync()
    {
        response = await rothschildHouseClient.GetCurrenciesAsync(new GetCurrenciesRequest());
    }
}
