@page "/customer"

@using RothschildHouse.Library.Common.Clients;
@using RothschildHouse.Library.Common.Clients.Models.Common;
@using RothschildHouse.Library.Common.Clients.Models.PaymentGateway;

@inject PaymentGatewayClient rothschildHouseClient

<PageTitle>Customers</PageTitle>

<h1>Customers</h1>

@if (response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudDataGrid Items="@response.Model">
        <Columns>
            <PropertyColumn Property="x => x.FullName" Title="Name" />
            <PropertyColumn Property="x => x.Country" Title="Country" />
            <PropertyColumn Property="x => x.Phone" Title="Phone" />
            <PropertyColumn Property="x => x.Email" Title="Email" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        <MudLink Href="@($"/customer/{context.Item.Id}")">Details</MudLink>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}

@code {
    private ListResponse<CustomerItemModel> response;

    protected override async Task OnInitializedAsync()
    {
        response = await rothschildHouseClient.GetCustomersAsync(new GetCustomersRequest());
    }
}
